.header {
    background: lightblue;
}
.header a{
    font-size: 18px;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}
a {
    cursor: pointer;
}

.header a:hover {
    text-decoration: underline;
}
